@font-face
{
    font-family: 'Akira';
    font-weight: normal;
    font-style: normal;
    src: url('/font/Akira-Expanded-Demo.otf');
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Akira';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
